openapi: 3.0.0
info:
  version: v1
  title: External Carpooling PWA Integration API
  description: |
    Can integrate any 3rd party carpooling solution with our system through a Progressive Web App (PWA) integration.

    **Integration Model**: Progressive Web App (PWA) with JWT-based authentication

    **Key Features**:
    - Single sign-on for verified corporate employees
    - JWT tokens signed by Aeria (partners validate using provided public key)
    - Privacy-first data sharing (company name only by default)
    - Event-based system (notifications sent based on configured triggers)
    - Optional JavaScript Bridge for enhanced communication

    **Credentials Provided**:
    - Partner ID (PID)
    - Secret Key (for API request signatures)
    - JWT Public Key (for validating JWT tokens)

    **Full Integration Guide**: <a href='https://github.com/aeria-world/partner-integrations/blob/main/carpooling/README.md'>Documentation</a>

tags:
  - name: Carpooling Operations
    description: APIs for carpooling service operations
  - name: Event Operations
    description: APIs for triggering events on Aeria backend

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token signed by Aeria using RS256 algorithm.
        Partners must validate the token using the provided JWT public key.
    
  parameters:
    signatureHeader:
      in: header
      name: x-signature
      required: true
      description: |
        Request signature in format: ${integrationId}.${timestamp}.${hash}
        Generated using HMAC-SHA256 of (JSON body + timestamp) with secret key
      schema:
        type: string
        example: "integration-uuid.1699876543000.a1b2c3d4e5f6..."
    
    integrationIdHeader:
      in: header
      name: x-integration-id
      required: true
      description: Unique integration identifier for the tenant
      schema:
        type: string
        example: "integration-0001-0000-0000-0000-000000000000"

  schemas:
    Error:
      type: object
      required:
        - statusCode
        - response
      properties:
        statusCode:
          type: integer
          example: 400
        response:
          type: object
          required:
            - message
            - code
          properties:
            message:
              type: string
              example: "Validation error"
            code:
              type: integer
              example: 400
            errors:
              type: array
              items:
                type: string
              example: ["Invalid user ID", "Event name is required"]
    
    UserContext:
      type: object
      properties:
        id:
          type: string
          description: User identifier (UUID)
          example: "user-uuid-1234"
        userName:
          type: string
          description: UPIN digits for user identification
          example: "1234567890"
        name:
          type: string
          description: User's full name
          example: "John Doe"
          nullable: true
        email:
          type: string
          description: User's email address
          example: "user@example.com"
          nullable: true
        phone:
          type: string
          description: User's phone number
          example: "+1234567890"
          nullable: true
        organisationName:
          type: string
          description: Organisation/company name
          example: "Company Name"
          nullable: true
    
    EventPayload:
      type: object
      required:
        - userId
        - eventName
        - payload
      properties:
        userId:
          type: string
          description: User identifier
          example: "user-uuid-1234"
        rideId:
          type: string
          description: Ride identifier
          example: "ride-123"
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the event
          example: "2024-11-15T08:30:00Z"
        eventName:
          type: string
          description: Name of the event
          enum:
            - ride-booked
            - ride-cancelled
            - ride-started
            - ride-completed
          example: "ride-booked"
        payload:
          type: object
          description: Event-specific data
          example:
            pickupTime: "2024-11-15T08:30:00Z"
            driverId: "driver-456"

    NotificationData:
      type: object
      required:
        - title
        - message
        - timestamp
      properties:
        title:
          type: string
          description: Notification title
          example: "Ride delayed"
        message:
          type: string
          description: Notification message body
          example: "Your driver will arrive 10 minutes late."
        timestamp:
          type: integer
          format: int64
          description: Epoch timestamp in milliseconds
          example: 1731669000000
        deeplink:
          type: string
          description: Optional deeplink that opens the relevant screen in the partner app
          example: "partnerapp://rides/ride-123"

    NotificationPayload:
      type: object
      required:
        - eventType
        - data
      properties:
        eventType:
          type: string
          description: Notification event type
          example: "ride-delayed"
        data:
          $ref: '#/components/schemas/NotificationData'

  responses:
    BadRequest:
      description: Bad request - validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            statusCode: 400
            response:
              message: Validation error
              code: 400
    Unauthorized:
      description: Unauthorized - invalid signature or integration ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            statusCode: 401
            response:
              message: Unauthorized access
              code: 401
    UserNotFound:
      description: User not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            statusCode: 404
            response:
              message: User not found
              code: 404

security:
  - BearerAuth: []

servers:
  - url: https://core.api.aeria.world
    description: Aeria Core API for Production
  - url: https://staging-core.api.aeria.world
    description: Aeria Core API for Staging

paths:
  /partner/v1/carpooling/user/:id/context:
    get:
      tags:
        - Carpooling Operations
      summary: Get User Context
      description: |
        Retrieve user information for carpooling service.
        Returns only data that user has consented to share.
      parameters:
        - $ref: '#/components/parameters/signatureHeader'
        - $ref: '#/components/parameters/integrationIdHeader'
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: User identifier
          example: "user-uuid-1234"
      responses:
        '200':
          description: User context retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/UserContext'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'


  /partner/v1/carpooling/event:
    post:
      tags:
        - Carpooling Operations
      summary: Trigger Event on Aeria Backend
      description: |
        Partner calls this API to trigger events on Aeria's backend.
        Notifications are automatically sent to users based on configured triggers for each event type.
      parameters:
        - $ref: '#/components/parameters/signatureHeader'
        - $ref: '#/components/parameters/integrationIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventPayload'
      responses:
        '200':
          description: Event processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  eventId:
                    type: string
                    example: "event-uuid-9876"
                  status:
                    type: string
                    enum: [PROCESSED, QUEUED, FAILED]
                    example: "PROCESSED"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'

  /partner/v1/carpooling/notification:
    post:
      tags:
        - Event Operations
      summary: Trigger Notification on Aeria Backend
      description: |
        Partner calls this API to trigger a notification on Aeria's backend.
        The payload contains the notification event type and rendered notification content.
      parameters:
        - $ref: '#/components/parameters/signatureHeader'
        - $ref: '#/components/parameters/integrationIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationPayload'
            example:
              eventType: "ride-delayed"
              data:
                title: "Ride delayed"
                message: "Your driver will arrive 10 minutes late."
                timestamp: 1731669000000
                deeplink: "partnerapp://rides/ride-123"
      responses:
        '200':
          description: Notification processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  notificationId:
                    type: string
                    example: "notification-uuid-1234"
                  status:
                    type: string
                    enum: [PROCESSED, QUEUED, FAILED]
                    example: "PROCESSED"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
